chromadb
ctransformers
InstructorEmbedding
langchain
librosa
llama_cpp_python
pypdfium2
sentence-transformers
PyYAML
torch
streamlit
streamlit-mic-recorder
transformers
groq
langchain_community
duckduckgo-search
streamlit-extras
pyautogui
duckduckgo_search
python-docx
openpyxl
python-pptx